@fui:registry=https://npm.fineres.com/
@bi:registry=https://npm.fineres.com/
@finemirror:registry=https://npm.fineres.com/
puppeteer_download_host=https://registry.npmmirror.com
@fd:registry=https://npm.fineres.com/
strict-peer-dependencies=false
@fx-ui:registry=https://npm.jdydevelop.com/
PUPPETEER_SKIP_DOWNLOAD=true
